.container {
  position: relative;
  :global {
    .react-multi-carousel-item {
      display: flex;
      justify-content: center;
    }
    .react-multi-carousel-dot {
      margin: 0 6px;
    }
  }
}
