.imageContainer {
  display: flex;
  .image {
    margin-right: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 8px;
  }
}
.badgeContainer {
  margin: 8px 0;
  .badge {
    margin-right: 8px;
    font-weight: 400;
  }
}
.rateContainer {
  display: flex;
  align-items: center;
  .rate {
    margin-right: 5px;
  }
  .text {
    font-size: 14px;
    font-weight: 400;
  }
}
.overview {
  margin-top: 8px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
}
.adult {
  color: red;
  font-size: 14px;
  font-weight: 600;
}

:global {
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  ul.pagination li:first-child {
    border-radius: 5px 0 0 5px;
  }

  ul.pagination li:last-child {
    border-radius: 0 5px 5px 0;
  }

  ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
  }

  ul.pagination li.active a {
    color: white;
  }

  ul.pagination li.active {
    background-color: #337ab7;
  }

  ul.pagination li a:hover,
  ul.pagination li a.active {
    color: blue;
  }

  .page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
  }
}
