.image {
  border-radius: 8px;
}
.link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  &:hover {
    color: unset;
  }
}
.form {
  position: relative;
  display: flex;
  .formControl {
    padding-left: 30px;
  }
  .searchIcon {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 20px;
    height: 20px;
    color: gray;
  }
}
