* {
  font-size: 14px;
  font-family: "Noto Sans KR";
}
body {
  background-color: black !important;
  color: white !important;
}
iframe {
  width: 100%;
  height: 700px;
}
#loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  padding: 0;
}
